.c_f{background:url(<?php echo $this->base; ?>/country/img/flags.png) 0 0;width:16px;height:11px;}
.c_f_AD{background-position:-16px 0px;}
.c_f_AE{background-position:-32px 0px;}
.c_f_AF{background-position:-48px 0px;}
.c_f_AG{background-position:-64px 0px;}
.c_f_AI{background-position:-80px 0px;}
.c_f_AL{background-position:-96px 0px;}
.c_f_AM{background-position:-112px 0px;}
.c_f_AN{background-position:-128px 0px;}
.c_f_AO{background-position:-144px 0px;}
.c_f_AR{background-position:-160px 0px;}
.c_f_AS{background-position:0px -11px;}
.c_f_AT{background-position:-16px -11px;}
.c_f_AU{background-position:-32px -11px;}
.c_f_AW{background-position:-48px -11px;}
.c_f_AX{background-position:-64px -11px;}
.c_f_AZ{background-position:-80px -11px;}
.c_f_BA{background-position:-96px -11px;}
.c_f_BB{background-position:-112px -11px;}
.c_f_BD{background-position:-128px -11px;}
.c_f_BE{background-position:-144px -11px;}
.c_f_BF{background-position:-160px -11px;}
.c_f_BG{background-position:0px -22px;}
.c_f_BH{background-position:-16px -22px;}
.c_f_BI{background-position:-32px -22px;}
.c_f_BJ{background-position:-48px -22px;}
.c_f_BL{background-position:-64px -22px;}
.c_f_BM{background-position:-64px -22px;}
.c_f_BN{background-position:-80px -22px;}
.c_f_BO{background-position:-96px -22px;}
.c_f_BR{background-position:-112px -22px;}
.c_f_BS{background-position:-128px -22px;}
.c_f_BT{background-position:-144px -22px;}
.c_f_BV, .c_f_NO, .c_f_SJ{background-position:-160px -22px;}
.c_f_BW{background-position:0px -33px;}
.c_f_BY{background-position:-16px -33px;}
.c_f_BZ{background-position:-32px -33px;}
.c_f_CA{background-position:-48px -33px;}
.c_f_CC{background-position:-64px -33px;}
.c_f_CD{background-position:-80px -33px;}
.c_f_CF{background-position:-96px -33px;}
.c_f_CG{background-position:-112px -33px;}
.c_f_CH{background-position:-32px -231px;width:11px;}
.c_f_CI{background-position:-128px -33px;}
.c_f_CK{background-position:0px -242px;}
.c_f_CL{background-position:-16px -242px;}
.c_f_CM{background-position:-144px -165px;}
.c_f_CN{background-position:-144px -33px;}
.c_f_CO, .c_f_EC{background-position:-160px -33px;}
.c_f_CR{background-position:-0px -44px;}
.c_f_CS{background-position:-16px -44px;}
.c_f_CU{background-position:-32px -44px;}
.c_f_CV{background-position:-48px -44px;}
.c_f_CX{background-position:-64px -44px;}
.c_f_CY{background-position:-80px -44px;}
.c_f_CZ{background-position:-96px -44px;}
.c_f_DE{background-position:-112px -44px;}
.c_f_DJ{background-position:-128px -44px;}
.c_f_DK{background-position:-144px -44px;}
.c_f_DM{background-position:-160px -44px;}
.c_f_DO{background-position:0px -55px;}
.c_f_DZ{background-position:-16px -55px;}
.c_f_EE{background-position:-48px -55px;}
.c_f_EG{background-position:-64px -55px;}
.c_f_EH{background-position:-80px -55px;}
.c_f_ER{background-position:-96px -55px;}
.c_f_ES{background-position:-112px -55px;}
.c_f_ET{background-position:-128px -55px;}
.c_f_FI{background-position:-144px -55px;}
.c_f_FJ{background-position:-160px -55px;}
.c_f_FK{background-position:0px -66px;}
.c_f_FM{background-position:-16px -66px;}
.c_f_FO{background-position:-32px -66px;}
.c_f_FR, .c_f_GF, .c_f_MF, .c_f_RE{background-position:-48px -66px;}
.c_f_GA{background-position:-64px -66px;}
.c_f_GB{background-position:-80px -66px;}
.c_f_GD{background-position:-96px -66px;}
.c_f_GE{background-position:-112px -66px;}
.c_f_GG{background-position:-px -px;}
.c_f_GH{background-position:-128px -66px;}
.c_f_GI{background-position:-144px -66px;}
.c_f_GL{background-position:-160px -66px;}
.c_f_GM{background-position:0px -77px;}
.c_f_GN{background-position:-16px -77px;}
.c_f_GP{background-position:-32px -77px;}
.c_f_GQ{background-position:-48px -77px;}
.c_f_GR{background-position:-64px -77px;}
.c_f_GS{background-position:-80px -77px;}
.c_f_GT{background-position:-96px -77px;}
.c_f_GU{background-position:-112px -77px;}
.c_f_GW{background-position:-128px -77px;}
.c_f_GY{background-position:-144px -77px;}
.c_f_HK{background-position:-160px -77px;}
.c_f_HM{background-position:0px -88px;}
.c_f_HN{background-position:-16px -88px;}
.c_f_HR{background-position:-32px -88px;}
.c_f_HT{background-position:-48px -88px;}
.c_f_HU{background-position:-64px -88px;}
.c_f_ID{background-position:-80px -88px;}
.c_f_IE{background-position:-96px -88px;}
.c_f_IL{background-position:-112px -88px;}
.c_f_IM{background-position:-px -px;}
.c_f_IN{background-position:-128px -88px;}
.c_f_IO{background-position:-144px -88px;}
.c_f_IQ{background-position:-160px -88px;}
.c_f_IR{background-position:0px -99px;}
.c_f_IS{background-position:-16px -99px;}
.c_f_IT{background-position:-32px -99px;}
.c_f_JE{background-position:-px -px;}
.c_f_JM{background-position:-48px -99px;}
.c_f_JO{background-position:-64px -99px;}
.c_f_JP{background-position:-80px -99px;}
.c_f_KE{background-position:-96px -99px;}
.c_f_KG{background-position:-112px -99px;}
.c_f_KH{background-position:-128px -99px;}
.c_f_KI{background-position:-144px -99px;}
.c_f_KM{background-position:-160px -99px;}
.c_f_KN{background-position:0px -110px;}
.c_f_KP{background-position:-16px -110px;}
.c_f_KR{background-position:-32px -110px;}
.c_f_KW{background-position:-48px -110px;}
.c_f_KY{background-position:-64px -110px;}
.c_f_KZ{background-position:-80px -110px;}
.c_f_LA{background-position:-96px -110px;}
.c_f_LB{background-position:-112px -110px;}
.c_f_LC{background-position:-128px -110px;}
.c_f_LI{background-position:-144px -110px;}
.c_f_LK{background-position:-160px -110px;}
.c_f_LR{background-position:0px -121px;}
.c_f_LS{background-position:-16px -121px;}
.c_f_LT{background-position:-32px -121px;}
.c_f_LU{background-position:-48px -121px;}
.c_f_LV{background-position:-64px -121px;}
.c_f_LY{background-position:-80px -121px;}
.c_f_MA{background-position:-96px -121px;}
.c_f_MC{background-position:-112px -121px;}
.c_f_MD{background-position:-128px -121px;}
.c_f_ME{background-position:-160px -220px;height:12px}
.c_f_MG{background-position:-144px -121px;}
.c_f_MH{background-position:-160px -121px;}
.c_f_MK{background-position:0px -132px;}
.c_f_ML{background-position:-16px -132px;}
.c_f_MM{background-position:-32px -132px;}
.c_f_MN{background-position:-48px -132px;}
.c_f_MO{background-position:-64px -132px;}
.c_f_MP{background-position:-80px -132px;}
.c_f_MQ{background-position:-96px -132px;}
.c_f_MR{background-position:-112px -132px;}
.c_f_MS{background-position:-128px -132px;}
.c_f_MT{background-position:-144px -132px;}
.c_f_MU{background-position:-160px -132px;}
.c_f_MV{background-position:0px -143px;}
.c_f_MW{background-position:-16px -143px;}
.c_f_MX{background-position:-32px -143px;}
.c_f_MY{background-position:-48px -143px;}
.c_f_MZ{background-position:-64px -143px;}
.c_f_NA{background-position:-80px -143px;}
.c_f_NC{background-position:-96px -143px;}
.c_f_NE{background-position:-112px -143px;}
.c_f_NF{background-position:-128px -143px;}
.c_f_NG{background-position:-144px -143px;}
.c_f_NI{background-position:-160px -143px;}
.c_f_NL{background-position:0px -154px;}
.c_f_NP{background-position:-43px -231px;width:9px;}
.c_f_NR{background-position:-16px -154px;}
.c_f_NU{background-position:-32px -154px;}
.c_f_NZ{background-position:-48px -154px;}
.c_f_OM{background-position:-64px -154px;}
.c_f_PA{background-position:-80px -154px;}
.c_f_PE{background-position:-96px -154px;}
.c_f_PF{background-position:-112px -154px;}
.c_f_PG{background-position:-128px -154px;}
.c_f_PH{background-position:-144px -154px;}
.c_f_PK{background-position:-160px -154px;}
.c_f_PL{background-position:0px -165px;}
.c_f_PM{background-position:-16px -165px;}
.c_f_PN{background-position:-32px -165px;}
.c_f_PR{background-position:-48px -165px;}
.c_f_PS{background-position:-64px -165px;}
.c_f_PT{background-position:-80px -165px;}
.c_f_PW{background-position:-96px -165px;}
.c_f_PY{background-position:-112px -165px;}
.c_f_QA{background-position:-128px -165px;}
.c_f_RO{background-position:-160px -165px;}
.c_f_RS{background-position:0px -176px;}
.c_f_RU{background-position:-16px -176px;}
.c_f_RW{background-position:-32px -176px;}
.c_f_SA{background-position:-48px -176px;}
.c_f_SB{background-position:-64px -176px;}
.c_f_SC{background-position:-80px -176px;}
.c_f_SD{background-position:-96px -176px;}
.c_f_SE{background-position:-112px -176px;}
.c_f_SG{background-position:-128px -176px;}
.c_f_SH{background-position:-144px -176px;}
.c_f_SI{background-position:-160px -176px;}
.c_f_SK{background-position:0px -187px;}
.c_f_SL{background-position:-16px -187px;}
.c_f_SM{background-position:-32px -187px;}
.c_f_SN{background-position:-48px -187px;}
.c_f_SO{background-position:-64px -187px;}
.c_f_SR{background-position:-80px -187px;}
.c_f_ST{background-position:-96px -187px;}
.c_f_SV{background-position:-112px -187px;}
.c_f_SY{background-position:-128px -187px;}
.c_f_SZ{background-position:-144px -187px;}
.c_f_TC{background-position:-160px -187px;}
.c_f_TD{background-position:0px -198px;}
.c_f_TF{background-position:-16px -198px;}
.c_f_TG{background-position:-32px -198px;}
.c_f_TH{background-position:-48px -198px;}
.c_f_TJ{background-position:-64px -198px;}
.c_f_TK{background-position:-80px -198px;}
.c_f_TL{background-position:-96px -198px;}
.c_f_TM{background-position:-112px -198px;}
.c_f_TN{background-position:-128px -198px;}
.c_f_TO{background-position:-144px -198px;}
.c_f_TR{background-position:-160px -198px;}
.c_f_TT{background-position:0px -209px;}
.c_f_TV{background-position:-16px -209px;}
.c_f_TW{background-position:-32px -209px;}
.c_f_TZ{background-position:-48px -209px;}
.c_f_UA{background-position:-64px -209px;}
.c_f_UG{background-position:-80px -209px;}
.c_f_UM, .c_f_US{background-position:-96px -209px;}
.c_f_UY{background-position:-112px -209px;}
.c_f_UZ{background-position:-128px -209px;}
.c_f_VA{background-position:-144px -209px;}
.c_f_VC{background-position:-160px -209px;}
.c_f_VE{background-position:0px -220px;}
.c_f_VG{background-position:-16px -220px;}
.c_f_VI{background-position:-32px -220px;}
.c_f_VN{background-position:-48px -220px;}
.c_f_VU{background-position:-64px -220px;}
.c_f_WF{background-position:-80px -220px;}
.c_f_WS{background-position:-96px -220px;}
.c_f_YE{background-position:-112px -220px;}
.c_f_YT{background-position:-128px -220px;}
.c_f_ZA{background-position:-144px -220px;}
.c_f_ZM{background-position:0px -231px;}
.c_f_ZW{background-position:-16px -231px;}
.c_f_CAT{background-position:-52px -231px;}
.c_f_ENG{background-position:-68px -231px;}
.c_f_EUR{background-position:-84px -231px;}
.c_f_SCO{background-position:-100px -231px;}
.c_f_WAL{background-position:-116px -231px;}
.c_f_FAM{background-position:-132px -231px;}
